VC_STORAGE_TYPE=json
VC_STORAGE_PATH=calendar_data.json
VC_LANGUAGE=ru
VC_RECOGNITION_TIMEOUT=5
VC_PHRASE_TIME_LIMIT=15
VC_ENERGY_THRESHOLD=300
VC_SPEECH_RATE=150
VC_SPEECH_VOLUME=1.0
VC_DEFAULT_DURATION=60
VC_DEBUG=false
VC_LOG_LEVEL=INFO

VC_STORAGE_TYPE=google
VC_GOOGLE_CREDENTIALS=credentials.json
VC_GOOGLE_TOKEN=token.pickle
VC_GOOGLE_CALENDAR_ID=primary
